.minCell {
  width: 1px;
}

.borderNone {
  border-bottom-color: transparent !important;
}

.curserPointer {
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
}

.block {
  flex: 1;
}

.formContainer {
  max-width: 400px;
}

.block,
.formContainer {
  padding: 24px;
}

.abilityPaperContainer {
  position: relative;
  margin-top: 24px;
}

.abilityPaperNameContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
  padding-left: 14px;
  padding-right: 24px;
}

.abilityPaperName {
  display: inline-block;
  padding: 10px;
  margin-top: -30px;
  margin-left: 24px;
  border-radius: 3px;
  background-color: var(--primary);
  box-shadow: 0px 1px 5px 0px var(--primaryDarkRgba2), 0px 2px 2px 0px var(--primaryDarkRgba2), 0px 3px 1px -2px var(--primaryDarkRgba2);
  color: var(--primaryText)
}

.minCell {
  width: 1px;
}

.fabBtnContainer {
  position: absolute;
  top: -12px;
  left: -14px;
}
