{
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [
      2,
      "single",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "generator-star-spacing": [
      2,
      {
        "before": false,
        "after": true
        }
    ],
    "space-before-function-paren": [
      2,
      "never"
    ],
    "react/prop-types": [
      0
    ],
    "semi": [
      2,
      "never"
    ],
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-var": [
      2
    ],
    "prefer-const": [
      1
    ],
    "no-duplicate-imports": [
      2
    ],
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ]
  },
  "globals": {
    "describe" : false,
    "it" : false,
    "beforeEach": false
  }
}
