.public-container {
  background: url('../../img/fabric-of-squares.png');
  background-color: var(--primaryLight);
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.public-form {
  padding: 20px;
}

.public-form-title {
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}

.public-form-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.public-form-actions {
  display: flex;
  justify-content: space-between;
}

.public-error {
  color: red;
  font-weight: 100;
  font-size: 14px;
  min-height: 16px;
  margin-top: 10px;
  text-align: center;
}
