.login {
  background-color: var(--primaryLight);
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .container {
  padding: 30px;
}

.login .container .content {
  display: flex;
  flex-direction: column;
}

.login .href-reset a {
  font-size: 0.8rem;
  color: var(--primaryLight);
  text-decoration: none;
}
