body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex-container {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

// 

.container {
  padding: 20px;
}

.field {
  min-width: 400px;
}
